
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #bbbbbb;
}
</style>


<h3>Collected coded fragments for codes 'voorbeeld_1' & 'voorbeeld_2' with 10 lines of context</h3>

#### voorbeeld_1 *(path: interventies>voorbeeld_1)*

-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsshs]]</span> Speaker 1: Nou, we hebben drie plaatjes</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssht]]</span> naast mekaar. Daar staat de vraag onder</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsshw]]</span> en die vraag mag ik twee keer stellen.</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsshx]]</span> En dan moet het kind het goede plaatje</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsshy]]</span> aanwijzen. Speaker 2: Het kind hoeft</span></div>

<div class="utterance"><span class="uid">[[uid=7npbsshz]]</span> niks te vertellen dan? Speaker 1: <span class="code codes">[[interventies&gt;voorbeeld_1]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssj0]]</span> Jawel De toets bestaat uit onderdelen:</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssj1]]</span> passieve woordenschat en actieve</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssj2]]</span> woordenschat. Soms kan dit verwarrend</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssj3]]</span> zijn voor peuters. Woorden die ze vanuit</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssj4]]</span> hun moedertaal niet kennen. Als je nooit</span></div>


-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmm]]</span> </span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmn]]</span> 00:14:40 - 00:15:27</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmp]]</span> Speaker 1: Tutoren wil zeggen dat je als</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmq]]</span> pedagogisch medewerker signaleert waar</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmr]]</span> een peuter hulp bij nodig heeft en hem [[hulpvragen_signaleren-&gt;tutoren||structureel]]</span></div>

<div class="utterance"><span class="uid">[[uid=7npbssms]]</span> dan in een klein groepje hier mee helpt. <span class="code codes">[[interventies&gt;voorbeeld_1]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmt]]</span> Tijdens de groepsactiviteit kan dit</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmw]]</span> tutoren ertoe bijdragen dat de peuter</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmx]]</span> een stukje herkenning ervaart wat hem [[tutoren-&gt;herkend_worden|&gt;causal_pos]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmy]]</span> wat meer zekerheid kan bieden. [[herkend_worden-&gt;zekerheid|&gt;causal_pos]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbssmz]]</span> </span></div>


-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthl]]</span> hoort er gewoon bij, en dat weten ze</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthm]]</span> inmiddels ook. Dagkaarten. Wij hebben</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthn]]</span> er zelf gemaakt. Foto's van onze eigen</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthp]]</span> tafel, van onze eigen bouwhoek, van ons</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthq]]</span> eigen klimrek. Kinderen zeggen ook: dat</span></div>

<div class="utterance"><span class="uid">[[uid=7npbsthr]]</span> zijn onze bekers voor te drinken. En <span class="code codes">[[interventies&gt;voorbeeld_1]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsths]]</span> de dagritmekaarten van Piramide spreekt</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstht]]</span> helemaal niet aan. Hartstikke kostbaar</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthw]]</span> materiaal, maar het spreekt niet aan.</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthx]]</span> En die vrijheid nemen we dan ook.</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsthy]]</span> We geven het ook wel eerlijk aan, en</span></div>


-----


#### voorbeeld_2 *(path: interventies>voorbeeld_2)*

-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpb]]</span> 00:50:57 - 00:51:53</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpc]]</span> Speaker 1: Een stukje eenzaamheid.</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpd]]</span> Maar... als je dan gaat kijken wat</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpf]]</span> overal te doen is, want ja, wij vinden</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpg]]</span> zelf maar misschien, ja is dat ook niet</span></div>

<div class="utterance"><span class="uid">[[uid=7npbstph]]</span> helemaal eerlijk. Maar wij vinden dat <span class="code codes">[[interventies&gt;voorbeeld_2]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpj]]</span> er heel veel te doen is in Heerlen en je</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpk]]</span> hoeft echt niet eenzaam te zijn. Je kunt</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpl]]</span> vrijwilligerswerk gaan doen. Je kunt</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpm]]</span> heel laagdrempelig vrijwilligerswerk</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbstpn]]</span> gaan doen. Ik doe al meer als 25 jaar</span></div>


-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3d]]</span> drie zelfs en twee in één groep. En dat</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3f]]</span> is gewoon een aanslag op de groep, om</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3g]]</span> het heel vervelend te zeggen. Voor het</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3h]]</span> kind zelf in de eerste plaats, want die</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3j]]</span> zit echt niet op z'n plekje. Thuishouden</span></div>

<div class="utterance"><span class="uid">[[uid=7npbsw3k]]</span> is geen optie voor de peuter. Want ja, <span class="code codes">[[interventies&gt;voorbeeld_2]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3l]]</span> je moet toch tegen tweejarige peuters</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3m]]</span> gaan zeggen dat zij iets niet mogen,</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3n]]</span> wat hij wel mag. Hè, dat je het kind</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3p]]</span> laat lopen, want je kunt hem niet aan</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbsw3q]]</span> tafel laten zitten, je kunt hem er</span></div>


-----

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdn]]</span> zijn. Of vanmorgen had ik een gesprekje</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdp]]</span> met een moeder. Die voelde zich heel</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdq]]</span> onzeker en het gaf ze ook aan en vond</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdr]]</span> het ook fijn dat we gewoon even daarover</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswds]]</span> gesproken hadden. En toen zei ze van:</span></div>

<div class="utterance"><span class="uid">[[uid=7npbswdt]]</span> ja, maar van een vriendin van mij, die <span class="code codes">[[interventies&gt;voorbeeld_2]]</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdw]]</span> krijgen allemaal foto's van haar kind</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdx]]</span> en ik zie niks. Ik zeg: maar ik wil niet</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdy]]</span> heel vervelend zijn. Maar wat denk je</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswdz]]</span> dan dat die juffrouw aan het doen is</span></div>

<div class="utterance"><span class="context"><span class="uid">[[uid=7npbswf0]]</span> met jouw kind? Op het moment dat die</span></div>


-----


